<!-- Hello world!
{{storeItems}} -->
<div ng-repeat="item in storeItems">
        <div class="col-lg-6 mainStoreDiv">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <center><b style="color:darkred">{{item.name}}</b></center>
                </div>
                <div class="panel-body-store">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href=".storeItemMain_{{item.id}}" data-toggle="tab" style="color:red">Product</a>
                        </li>
                        <li><a href=".storeItemDesc_{{item.id}}" data-toggle="tab">Details</a>
                        </li>
                    </ul>
                    <div class="tab-content innerStoreDescription">
                        <div class="tab-pane fade in active storeItemMain_{{item.id}} imageContainerStore">
                            <img class="storeProductImages" ng-src="{{item.image}}">
                        </div>
                        <div class="tab-pane fade storeItemDesc_{{item.id}} storeProductDescriptions">
                            <center><br>
                            <p> <a>{{item.description}}</a><br>
                            <!-- Sizes: {{item.sizes}}<br> -->
                            <a>Price: ${{item.prices}}</a><br>
                            <select name="singleSelect" id="singleSelect" ng-model="qty" ng-show="cTc">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                            <!-- Convert this into a directive so that each button is independently scoped when add to cart fires off continue shopping. -->
                            <button class = "btn-danger" ng-click="addCart(item.id, qty, test2[0].authid); ContinueToCart(qty)" ng-show="cTc">Add to Cart</button>
                            <button class = "btn-danger" ng-click="ContinueToCart2()" ng-show="!cTc">Continue Shopping</button>
                            <button class = "btn-danger" ng-show="!cTc" ui-sref="cart">Checkout</button>
                            <br>
                            <a>Total: ${{qty * item.prices | number : 2}}</a>
                            <!-- This pipe number 2 gives it 2 decimal places. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        