<div class="row"  ng-if="level">
        <div class="col-lg-12">
            <h1 class="page-header">Welcome, {{test2[0].username}}</h1> Prove a point list: training videos, shopping cart
            <div class="chat-panel panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-comments fa-fw"></i> Team Discussion
                        <div class="input-group">
                            <form ng-submit="sendChat(msg);msg=''">
                                <input id="btn-input" type="text" ng-model="msg" class="form-control input-sm" placeholder="Write your message" />
                            </form>
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="sendChat(msg);msg=''">
                                        Send
                                    </button>
                                </span>
                            </div>
                    </div>
                    <div class="panel-body-chatty" ng-repeat="msgs in chatData">
                        <ul class="chat">
                            <li class="left clearfix centerChat">
                                <span class="chat-img pull-left">
                                    <img ng-src="{{msgs.avatar}}" alt="{{msgs.username}}'s Avatar'" class="img-circle avatar" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{msgs.username}}</strong>
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i> {{msgs.timeago}}
                                        </small>
                                    </div>
                                    <p>
                                        {{msgs.message}}
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
    <div>
        <p ng-if="levelActivation">Your account is waiting activation by the site administrator.</p>
<!-- <a href="/auth/logout" ng-if="test2"><button>Logout</button></a> -->
    </div>