<div class="row"  ng-if="level">
        <div class="col-lg-12">
            <h1 class="page-header">Welcome, {{test2[0].username}}</h1> list: training videos, shopping cart, add nicknames, usercp, "show more messages", "hover oveer name for more user info", why it doesn't refresh after user set KPI, limit messages, limit kpis, kpi range in history
            <div class="chat-panel panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-comments fa-fw"></i> Team Discussion
                        <div class="input-group">
                            <!-- <form ng-submit="sendChat(msg);msg=''">
                                <input id="btn-input" type="text" ng-model="msg" class="form-control input-sm" placeholder="Write your message" />
                            </form>
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="sendChat(msg);msg=''">
                                        Send
                                    </button> -->
                            <form ng-submit="sendChat(msg, 'null');msg=''" ng-show="TxtImg">
                                <input id="btn-input" type="text" ng-model="msg" class="form-control input-sm" placeholder="Write your message" />
                            </form>
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="toggleTxtImg()" ng-show="TxtImg">
                                        Txt Mode
                                    </button>
                                </span>
                            <form ng-submit="sendChat('null', image);image=''" ng-show="!TxtImg">
                                <input id="btn-input" type="text" ng-model="image" class="form-control input-sm" placeholder="Insert image link" />
                            </form>
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="toggleTxtImg()" ng-show="!TxtImg">
                                        Img Mode
                                    </button>
                                    <button class="btn btn-warning btn-sm" ng-click="openCloseEmoji()">Emoji</button>
                                </span>
                            </div>
                            <div class="input-group emojiButtons">
                            <span ng-show="sadMoji">
                                <button class = "emojiButtonSubmit" ng-click="sendChat(':lol:'); openCloseEmoji()"><img class="emojiButtonsPicture" src="./asset/img/emojis/lol.png"></button>
                                <button class = "emojiButtonSubmit" ng-click="sendChat(':angry:'); openCloseEmoji()"><img class="emojiButtonsPicture" src="./asset/img/emojis/angry.png"></button>
                                <button class = "emojiButtonSubmit" ng-click="sendChat(':cool:'); openCloseEmoji()"><img class="emojiButtonsPicture" src="./asset/img/emojis/cool.png"></button>
                                <button class = "emojiButtonSubmit" ng-click="sendChat(':crying:'); openCloseEmoji()"><img class="emojiButtonsPicture" src="./asset/img/emojis/crying.png"></button>
                                <button class = "emojiButtonSubmit" ng-click="sendChat(':devmtn:'); openCloseEmoji()"><img class="emojiButtonsPicture" src="./asset/img/emojis/devmtn.png"></button>
                                <button class = "emojiButtonSubmit" ng-click="sendChat(':love:'); openCloseEmoji()"><img class="emojiButtonsPicture" src="./asset/img/emojis/love.png"></button>
                                <button class = "emojiButtonSubmit" ng-click="sendChat(':omg:'); openCloseEmoji()"><img class="emojiButtonsPicture" src="./asset/img/emojis/omg.png"></button>
                                <button class = "emojiButtonSubmit" ng-click="sendChat(':orly:'); openCloseEmoji()"><img class="emojiButtonsPicture" src="./asset/img/emojis/orly.png"></button>
                            </span>
                            </div>
                    </div>
                    <div class="panel-body-chatty" ng-repeat="msgs in chatData">
                        <ul class="chat">
                            <li class="left clearfix centerChat">
                                <span class="chat-img pull-left">
                                    <img ng-src="{{msgs.avatar}}" alt="{{msgs.username}}'s Avatar'" class="img-circle avatar" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{msgs.username}}</strong>
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i>{{msgs.timeago}}
                                        </small>
                                    </div>
                                    <p>
                                        {{msgs.message}}
                                        <a href="{{msgs.img}}" target="_blank"><img id="chatBoxMessageImg" ng-src="{{msgs.img}}"></a>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
    <div>
        <p ng-if="levelActivation">Your account is waiting activation by the site administrator.</p>
<!-- <a href="/auth/logout" ng-if="test2"><button>Logout</button></a> -->
    </div>