<!-- <div ng-repeat="items in shoppingCart">
    
    
    
    {{items.description}}
    
</div> -->

<div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Shopping Cart</b>
                </div>
                <div class="panel-body-cart">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th width="200%">Description</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="items in shoppingCart">
                                    <td><img class = "shoppingCartImage" ng-src="{{items.image}}"></td>
                                    <td><b>{{items.name}}</b><br>{{items.description}}</td>
                                    <td>${{items.prices | number: 2}}</td>
                                    <td>{{items.quantity}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>