<!-- <p>{{name}}</p>
<input ng-model="something"><button ng-click="hi(something)">Clickme</button> -->
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button ng-click="showHide()" class = "btn-danger" ng-show="chartOnOff"> - </button> 
            <button ng-click="showHide()" class = "btn-danger" ng-show="!chartOnOff"> + </button> 
            {{kpiTitle}} 
        </div>
        <div class="panel-body" ng-show="chartOnOff">
            <div class="flot-chart">
                <div>
                    <canvas id="line" 
                    style="max-height: 550px; max-width: 1200px"
                    class="chart chart-line" 
                    chart-data="data" 
                    chart-labels="labels" 
                    chart-colors="colors" 
                    chart-series="series" 
                    chart-options="options" 
                    chart-dataset-override="datasetOverride" 
                    chart-click="onClick"></canvas>
                    <center>
                    <input type="text" 
                    placeholder="Data pt"
                    size="10" 
                    ng-model="nums">
                    <input type="text" 
                    placeholder="Corrective action"
                    size="44" 
                    ng-model="correctiveAction">
                    <button class = "btn-danger" ng-click="addKPIData(nums, correctiveAction)">✔</button><br>
                    <input type="text" 
                    placeholder="Modify pt" 
                    ng-model="newDataPoint">
                    <button class = "btn-danger" ng-click="changeDataPoint(newDataPoint)">✔</button>
                    <input type="text" 
                    placeholder="Modify prev pt" 
                    ng-model="lastNewDataPoint">
                    <button class = "btn-danger" ng-click="editLastDataPoint(lastNewDataPoint)">✔</button>
                    <button class = "btn-danger" ng-click="deleteDataPoint()">✖Delete</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
